aib/schemas/form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="form">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="db_objects"/>
        <xs:element ref="mem_objects"/>
        <xs:element ref="input_params"/>
        <xs:element ref="output_params"/>
        <xs:element ref="rules"/>
        <xs:element ref="frame"/>
        <xs:element ref="inline_form" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="db_objects">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="db_obj" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="db_obj">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="table_name" use="required"/>
      <xs:attribute name="hooks"/>
      <xs:attribute name="parent"/>
      <xs:attribute name="fkey"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mem_objects">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mem_obj" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mem_obj">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mem_col" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="descr"/>
      <xs:attribute name="parent"/>
      <xs:attribute name="hooks"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mem_col">
    <xs:complexType>
      <xs:attribute name="col_name" use="required"/>
      <xs:attribute name="data_type" use="required"/>
      <xs:attribute name="short_descr" use="required"/>
      <xs:attribute name="long_descr" use="required"/>
      <xs:attribute name="col_head" use="required"/>
      <xs:attribute name="key_field" use="required"/>
      <xs:attribute name="allow_null" use="required" type="xs:boolean"/>
      <xs:attribute name="allow_amend" use="required" type="xs:boolean"/>
      <xs:attribute name="max_len" use="required" type="xs:integer"/>
      <xs:attribute name="db_scale" use="required" type="xs:integer"/>
      <xs:attribute name="scale_ptr"/>
      <xs:attribute name="dflt_val"/>
      <xs:attribute name="col_chks"/>
      <xs:attribute name="fkey"/>
      <xs:attribute name="choices"/>
      <xs:attribute name="sql"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="input_params">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="input_param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="input_param">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="target" use="required"/>
      <xs:attribute name="required" type="xs:boolean" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="output_params">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="output_param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="output_param">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="source" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dflt_rule" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="vld_rule" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dflt_rule">
    <xs:complexType/>
  </xs:element>
  <xs:element name="vld_rule">
    <xs:complexType>
      <xs:group ref="vld_types" maxOccurs="unbounded"/>
      <xs:attribute name="fld_name" use="required"/>
      <xs:attribute name="errmsg" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="frame">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="toolbar"/>
        <xs:element ref="body"/>
        <xs:element ref="button_row"/>
        <xs:element ref="frame_methods"/>
      </xs:sequence>
      <xs:attribute name="main_object"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="toolbar">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tool" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="template"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tool">
    <xs:complexType>
      <!-- xs:group ref="callable" minOccurs="0" maxOccurs="unbounded"/ -->
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="label"/>
      <xs:attribute name="tip"/>
      <xs:attribute name="confirm" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:group ref="body_elements" minOccurs="0" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="body_elements">
    <xs:choice>
      <xs:element name="block"/>
      <xs:element name="vbox"/>
      <xs:element name="vbox_end"/>
      <xs:element ref="string"/>
      <xs:element name="panel"/>
      <xs:element name="row"/>
      <xs:element ref="col"/>
      <xs:element ref="text"/>
      <xs:element ref="label"/>
      <xs:element ref="input"/>
      <xs:element ref="dummy"/>
      <xs:element ref="display"/>
      <xs:element ref="button"/>
      <xs:element ref="nb_start"/>
      <xs:element ref="nb_page"/>
      <xs:element ref="nb_end"/>
      <xs:element ref="grid"/>
      <xs:element ref="grid_frame"/>
      <xs:element ref="subtype_panel"/>
    </xs:choice>
  </xs:group>
  <xs:element name="string">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
      <xs:attribute name="lng" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="col">
    <xs:complexType>
      <xs:attribute name="colspan" type="xs:integer"/>
      <xs:attribute name="rowspan" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="input">
    <xs:complexType>
      <xs:attribute name="fld" use="required"/>
      <xs:attribute name="lng" type="xs:integer"/>
      <xs:attribute name="height" type="xs:integer"/>
      <xs:attribute name="pwd" type="xs:boolean"/>
      <xs:attribute name="readonly" type="xs:boolean"/>
      <xs:attribute name="choice" type="xs:boolean"/>
      <xs:attribute name="lookup" type="xs:boolean"/>
      <xs:attribute name="validation"/>
      <xs:attribute name="after"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dummy">
    <xs:complexType>
      <xs:attribute name="validation"/>
      <xs:attribute name="after"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="display">
    <xs:complexType>
      <xs:attribute name="fld" use="required"/>
      <xs:attribute name="lng" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_start">
    <xs:complexType/>
  </xs:element>
  <xs:element name="nb_page">
    <xs:complexType>
      <xs:attribute name="label" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nb_end">
    <xs:complexType/>
  </xs:element>
  <xs:element name="grid">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="toolbar" minOccurs="0"/>
        <xs:element ref="cur_columns" minOccurs="0"/>
        <xs:element ref="cur_filter" minOccurs="0"/>
        <xs:element ref="cur_sequence" minOccurs="0"/>
        <xs:element ref="grid_methods" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="data_object" use="required"/>
      <xs:attribute name="growable" type="xs:boolean"/>
      <xs:attribute name="num_grid_rows" type="xs:integer"/>
      <xs:attribute name="form_name"/>
      <xs:attribute name="cursor"/>
      <xs:attribute name="colspan" type="xs:integer"/>
      <xs:attribute name="rowspan" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cur_columns">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cur_col" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cur_col">
    <xs:complexType>
      <xs:attribute name="col_name" use="required"/>
      <xs:attribute name="lng" type="xs:integer" use="required"/>
      <xs:attribute name="expand" type="xs:boolean"/>
      <xs:attribute name="readonly" type="xs:boolean"/>
      <xs:attribute name="reverse" type="xs:boolean"/>
      <xs:attribute name="lkup_ok" type="xs:boolean"/>
      <xs:attribute name="choice_ok" type="xs:boolean"/>
      <xs:attribute name="validation"/>
      <xs:attribute name="after"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cur_filter">
  </xs:element>
  <xs:element name="cur_sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cur_seq" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cur_seq">
    <xs:complexType>
      <xs:attribute name="col_name" use="required"/>
      <xs:attribute name="desc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="grid_methods">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="method" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="template"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="grid_frame">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="toolbar" minOccurs="0"/>
        <xs:element ref="body"/>
        <xs:element ref="button_row" minOccurs="0"/>
        <xs:element ref="frame_methods" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="main_object"/>
      <xs:attribute name="split"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtype_panel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="subtype_body" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="subtype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtype_body">
    <xs:complexType>
      <xs:group ref="body_elements" maxOccurs="unbounded"/>
      <xs:attribute name="subtype_id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="button_row">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="button" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="template"/>
      <xs:attribute name="validate" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="button">
    <xs:complexType>
      <!-- xs:group ref="callable" minOccurs="0" maxOccurs="unbounded"/ -->
      <xs:attribute name="btn_id" use="required"/>
      <xs:attribute name="btn_label" use="required"/>
      <xs:attribute name="btn_default" type="xs:boolean"/>
      <xs:attribute name="btn_enabled" type="xs:boolean" use="required"/>
      <xs:attribute name="btn_validate" type="xs:boolean" use="required"/>
      <xs:attribute name="lng" type="xs:integer"/>
      <xs:attribute name="btn_action"/>
      <xs:attribute name="help_msg"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="frame_methods">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="method" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="template"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="method">
    <xs:complexType>
      <!-- xs:group ref="callable" minOccurs="0" maxOccurs="unbounded"/ -->
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="obj_name"/>
      <xs:attribute name="action"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="inline_form">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="frame"/>
      </xs:sequence>
      <xs:attribute name="form_name"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="vld_types">
    <xs:choice>
      <xs:element ref="vld_compare"/>
      <xs:element ref="vld_exists"/>
      <xs:element ref="vld_hash"/>
    </xs:choice>
  </xs:group>
  <xs:element name="vld_compare">
    <xs:complexType>
      <xs:attribute name="src" use="required"/>
      <xs:attribute name="op" use="required"/>
      <xs:attribute name="tgt" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vld_exists">
    <xs:complexType>
      <xs:attribute name="data_object" use="required"/>
      <xs:attribute name="key" use="required"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vld_hash">
    <xs:complexType>
      <xs:attribute name="method" use="required"/>
      <xs:attribute name="src" use="required"/>
      <xs:attribute name="tgt" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

<!--
  <xs:group name="callable">
    <xs:choice>
      <xs:element ref="ask"/>
      <xs:element ref="assign"/>
      <xs:element ref="call"/>
      <xs:element ref="save_obj"/>
      <xs:element ref="restore_obj"/>
      <xs:element ref="pyfunc"/>
      <xs:element ref="case"/>
      <xs:element ref="change_button"/>
      <xs:element ref="change_gridframe_button"/>
      <xs:element ref="end_form"/>
      <xs:element name="restart_frame"/>
      <xs:element ref="set_focus"/>
      <xs:element ref="set_readonly"/>
      <xs:element name="do_navigate"/>
      <xs:element ref="sub_form"/>
      <xs:element name="inline_form"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ask">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="response" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="title" use="required"/>
      <xs:attribute name="enter" use="required"/>
      <xs:attribute name="escape" use="required"/>
      <xs:attribute name="question" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:group ref="callable" minOccurs="0" maxOccurs="unbounded"/>
      <xs:attribute name="ans" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="assign">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="source"/>
        <xs:element ref="target"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:complexType mixed="true">
      <xs:attribute name="hash"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="target">
    <xs:complexType mixed="true">
    </xs:complexType>
  </xs:element>
  <xs:element name="call">
    <xs:complexType>
      <xs:attribute name="method" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_obj">
    <xs:complexType>
      <xs:attribute name="obj_name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="restore_obj">
    <xs:complexType>
      <xs:attribute name="obj_name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pyfunc">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="case">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="bool_types" maxOccurs="unbounded"/>
        <xs:element ref="default" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="default">
    <xs:complexType>
      <xs:group ref="callable" minOccurs="1" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="change_button">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="btn_label"/>
        <xs:element ref="btn_dflt"/>
        <xs:element ref="btn_enabled"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="change_gridframe_button">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="btn_label"/>
        <xs:element ref="btn_dflt"/>
        <xs:element ref="btn_enabled"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_label">
    <xs:complexType>
      <xs:attribute name="btn_id" use="required"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_dflt">
    <xs:complexType>
      <xs:attribute name="btn_id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_enabled">
    <xs:complexType>
      <xs:attribute name="btn_id" use="required"/>
      <xs:attribute name="state" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="end_form">
    <xs:complexType>
      <xs:attribute name="state" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="completed"/>
            <xs:enumeration value="cancelled"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_focus">
    <xs:complexType>
      <xs:attribute name="btn_id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_readonly">
    <xs:complexType>
      <xs:attribute name="target" use="required"/>
      <xs:attribute name="state" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sub_form">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="call_params"/>
        <xs:element ref="return_params"/>
        <xs:element ref="on_return"/>
      </xs:sequence>
      <xs:attribute name="form_name"/>
      <xs:attribute name="form_view" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="inline_form">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="frame"/>
      </xs:sequence>
      <xs:attribute name="form_name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="call_params">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="call_param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="call_param">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="source" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="return_params">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="return_param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="return_param">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="target" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="on_return">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="return" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="return">
    <xs:complexType>
      <xs:group ref="callable" minOccurs="0" maxOccurs="unbounded"/>
      <xs:attribute name="state" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="completed"/>
            <xs:enumeration value="cancelled"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:group name="bool_types">
    <xs:choice>
      <xs:element ref="compare"/>
      <xs:element ref="data_changed"/>
      <xs:element ref="obj_exists"/>
      <xs:element ref="btn_has_label"/>
      <xs:element ref="has_gridframe"/>
    </xs:choice>
  </xs:group>
  <xs:element name="compare">
    <xs:complexType>
      <xs:group ref="callable" maxOccurs="unbounded"/>
      <xs:attribute name="src" use="required"/>
      <xs:attribute name="op" use="required"/>
      <xs:attribute name="tgt" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="data_changed">
    <xs:complexType>
      <xs:group ref="callable" maxOccurs="unbounded"/>
      <xs:attribute name="obj_name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="obj_exists">
    <xs:complexType>
      <xs:group ref="callable" maxOccurs="unbounded"/>
      <xs:attribute name="obj_name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="btn_has_label">
    <xs:complexType>
      <xs:group ref="callable" maxOccurs="unbounded"/>
      <xs:attribute name="btn_id"/>
      <xs:attribute name="label"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="has_gridframe">
    <xs:complexType>
      <xs:group ref="callable" maxOccurs="unbounded"/>
      <xs:attribute name="obj_name"/>
    </xs:complexType>
  </xs:element>
-->
